@define-color fg rgba(20, 40, 196, 0.8);
@define-color bg rgba(0, 0, 0, 0.8);

* {
	/* `otf-font-awesome` is required to be installed for icons */
	/* font-family: "JetBrainsMono Nerd Font Propo", FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
	font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
	font-size: 18px;
	font-weight: bold;
	box-shadow: none;
}

window#waybar {
	/* background-color: rgba(43, 48, 59, 0.5); */
	background: transparent;
	/* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
	/* border-bottom: 2px solid rgba(0,100,200,0.7); */
	color: #ffffff;
	transition-property: background;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
	/* Use box-shadow instead of border so the text isn't offset */
	/* box-shadow: inset 0 -3px transparent; */
	box-shadow: none;
	/* Avoid rounded borders under each button name */
	border: none;
	border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: inherit;
	/* box-shadow: inset 0 -3px #ffffff; */
	box-shadow: none;
}

/* you can set a style on hover for any module like this */

/* #window, */
/* #workspaces { */
/*     margin: 0 4px; */
/* } */

#workspaces {
	color: rgba(20, 40, 196, 0.8);
	background: transparent;
	/* background: rgba(10,50,150, 0.7); */
	border-radius: 12px;
	padding: 0 8px
}

#workspaces button {
	text-shadow: none;
	border-radius: 8px;
	background-color: transparent;
	color: #ffffff;
	transition-property: background;
	transition-duration: 0.2s;
	min-width: 30px;
	margin: 0 5px;
}

#workspaces button:hover {
	background: rgba(0, 0, 90, 0.7);
}

#workspaces button.active {
	background: rgba(10, 30, 120, 0.9);
}

#workspaces button.focused {
	background-color: #64727D;
	/* box-shadow: inset 0 -3px #ffffff; */
	box-shadow: none;
}

#workspaces button.urgent {
	background-color: #eb4d4b;
}

#mode {
	background-color: #64727D;
	/* box-shadow: inset 0 -3px #ffffff; */
	box-shadow: none;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
	margin-left: 0;
}

.modules-right {
	background-color: #00025b;
	border-radius: 18px;
	padding: 0 6px 0 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
	margin-right: 0;
}

#battery,
#battery.charging,
#battery.plugged,
#backlight,
#network,
#pulseaudio,
#pulseaudio.mic.source-muted,
#bluetooth,
#custom-media,
#tray,
#custom-power,
#keyboard-state {
	color: white;
	padding: 0 10px;
	background: transparent;
	border-radius: 12px
}


#clock {
	color: white;
	font-size: 20px;
	background-color: #00025b;
	padding: 0px 10px;
	border-radius: 12px;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

label:focus {
	background-color: #000000;
}

#network {
	background-color: #2980b9;
}

#network.disconnected {
	background-color: #f53c3c;
}

#pulseaudio.vol {
  border-radius: 18px 12px 12px 18px;
  padding: 0 10px 0 14px;
}

#pulseaudio:hover {
	background: rgba(20, 30, 120, 0.8);
}

#pulseaudio.muted {
	color: white;
}

#pulseaudio.mic {
	background: red;
}

#pulseaudio.mic:hover {
	background: rgba(150, 50, 40, 0.8)
}

#pulseaudio.mic.source-muted {
	color: white;
}

#pulseaudio.mic.source-muted:hover {
	background: rgba(20, 30, 120, 0.8)
}

#wireplumber {
	background-color: #fff0f5;
	color: #000000;
}

#wireplumber.muted {
	background-color: #f53c3c;
}

#bluetooth {
	background: transparent;
	padding: 2px 10px;
	font-size: 20px;
	border-radius: 10px;
}

#bluetooth:hover {
	background: rgba(20, 30, 120, 0.8);
}

#bluetooth.connected {
	color: #0112ff;
	background: white;
}

#custom-logo {
  padding: 0 8px;
  border-radius: 8px;
  min-width: 20px;
  transition-duration: 0.2s;
}

#custom-logo:hover {
  background-color: #00025b;
}

#custom-media {
	background-color: #66cc99;
	color: #2a5c45;
	min-width: 100px;
}

#custom-media.custom-spotify {
	background-color: #66cc99;
}

#custom-media.custom-vlc {
	background-color: #ffa000;
}

#temperature {
	background-color: #f0932b;
}

#temperature.critical {
	background-color: #eb4d4b;
}



#tray>.passive {
	-gtk-icon-effect: dim;
}

#tray>.needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}

#idle_inhibitor {
	background-color: #2d3436;
}

#idle_inhibitor.activated {
	background-color: #ecf0f1;
	color: #2d3436;
}

#mpd {
	background-color: #66cc99;
	color: #2a5c45;
}

#mpd.disconnected {
	background-color: #f53c3c;
}

#mpd.stopped {
	background-color: #90b1b1;
}

#mpd.paused {
	background-color: #51a37a;
}

#language {
	background: #00b093;
	color: #740864;
	padding: 0 5px;
	margin: 0 5px;
	min-width: 16px;
}

#keyboard-state {
	padding: 0;
	background: transparent;
}

#keyboard-state>label {
	opacity: 0;
}

#keyboard-state>label.locked {
	opacity: 1;
	font-size: 20
}

#scratchpad {
	background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
	padding: 0;
}

#privacy-item {
	padding: 0 5px;
	color: white;
}

#privacy-item.screenshare {
	background-color: #cf5700;
}

#privacy-item.audio-in {
	background-color: #1ca000;
}

#privacy-item.audio-out {
	background-color: #0069d4;
}

#mpris {
  margin: 0;
  padding: 0;
  min-width: 40px
}
#mpris.left {
  padding: 0;
  margin: 0;
}
#mpris.right  {
  padding: 0;
  margin: 0;
}
